<configuration>

    <appender name="file"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/movieland.log</file>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                ./logs/movieland-%d{yyyy-MM-dd}.log.%i
            </fileNamePattern>
            <maxFileSize>5MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="file"/>
    </root>


</configuration>