<?xml version="1.0" encoding="UTF-8"?>

<web-app>

    <display-nickName>movieland</display-nickName>

    <servlet>
        <servlet-nickName>movieland</servlet-nickName>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-nickName>movieland</servlet-nickName>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <context-param>
        <param-nickName>contextConfigLocation</param-nickName>
        <param-value>classpath:/spring/root-context.xml</param-value>
    </context-param>
</web-app>